table{border:1px #000000 solid;width:300px;}
th{border:2px #00ff00 solid; height:30px;}
th{font-family: 'M PLUS 1p', sans-serif;font-family: 'Noto Sans JP', sans-serif;}
td{border:1px #ff0000 solid; height:60px;}
td{font-family: 'Noto Sans JP', sans-serif; font-size:15px}