body{
display:flex;
justify-content:center;
}

#container{
display:flex; 
width:1000px;
flex-direction:column;
align-content:flex-start;
background:#ffffff
}

header{
 display:flex;
 flex-direction:column-reverse;
 width:100%;
 height:200px;
 padding:0px;
 margin:0px;
 background:#99cccc
}

#menu ul{
 display:flex;
 flex-direction:row;
 margin:0;
 padding:0;
 list-style:none;
}

#menu li{
 padding:0;
 width:100%;
 margin:0;
}

#menu li a{
 display:block;
 border:1px solid #666;
 background-color:#ccc;
 padding:3px;
 color:#333;
 margin:1px;
 text-aligh:center;
 font-size:14px;
}

#menu li a:hover{
 border:1px solid #fff;
 background-color:#26c;
}

main{
display:flex;
flex-wrap: wrap;
justify-content:center;
width:100%;
padding:10px;
margin:0px;
background:#cccccc
}
article
{width:236px;
height:200px;
padding:10px;
margin:5px;
background:#999999}

footer{width:100%;
height:50px;
padding:0px;
margin:0px;
background:#99cc99}

#sub_container{
display:flex;
width:100%;
padding:0px;
margin:0px 0px;
background-color:#ffff66;
}

aside{
width:200px;
padding:20px 1px;
margin:0px;
background-color:#cccc66;
}

#links ul{
display:flex;
flex-direction:column;
margin:0;
padding:0;
list-style:none;
}

#links li{
padding:0;
margin:0;
width:100%;
}

#links li a{
display:block;
border:1px solid #666;
background-color:#ccc;
padding:20px 3px;
color:#333;
margin:10px 5px;
text-align:center;
font-size:14px;
}

#links li a:hover{
border:1px solid #fff;
background-color:#26c;
}
