body{
 display:flex;
 justify-content:center;
}

#container{
 width:100%;
 display:flex;
 flex-direction:column;
 background-color:#ffffff;
}

header{
 width:100%;
 height:300px;
 margin:auto;
 background:#99cccc;
 padding:0px;
 background-image:url(images/sg11.jpg);
 background-size:cover;
}

nav{
 width:100%;
 height:33px;
 background-color:#000000;
}

title{
display:flex;
height:100px;
width:60%;
background:url(images/MR.png);
background-size:cover;
}


main{
 display:flex;
 flex-wrap:wrap;
 justify-content:space-around;
 align-items:center;
 width:100%;
 height:60%;
 background:#ffffff;
}

.foot{
color:#2196F3
}

footer{
 width:100%;
 height:50px;
 padding:10px;
 margin:0px;
 background:#000000;
 padding:0px;
}

/*
article{
 width:360px;
 height:250px;
 background:#999999;
 font-size:18px;
 justify-content:center;
 align-items:top;
}
*/

/*global navi*/

#menu ul{
 display:flex;
 flex-direction:row;
 margin:0;
 padding:0;
 list-style:none;
}

#menu li{
 width:100%;
}

#menu li a{
 display:block;
 border:1px solid #000000;
 background-color:#ffffff;
 padding:2px;
 color:#000000;
 margin:1px;
 text-align:center;
 font-weight:bolder;
 font-size:16px;
}

#menu li a:hover{
 border:1px solid #fff;
 background-color:#ff0000;
}

/*article*/
#t1{
 width:360px;
 height:250px;
 font-size:18px;
 justify-content:center;
 align-items:top;
 display:flex;
 margin:2px;
 background:url(images/GB1.jpg);
 background-size:cover;
 font-family: cursive;
}

#t11 {
 height:20%;
 width:100%;
 border:2px solid #ff0000;
 background-color:#ffffff;
}

#t2{
 width:360px;
 height:250px;
 font-size:18px;
 justify-content:center;
 align-items:top;
 display:flex;
 margin:2px;
 background:url(images/mp1.jpg);
 background-size:cover;
 font-family: cursive;
}

#t21 {
 height:20%;
 width:100%;
 border:2px solid #00ff00;
 background-color:#ffffff;
}

#t3{
 width:360px;
 height:250px;
 font-size:18px;
 justify-content:center;
 align-items:top;
 display:flex;
 margin:2px;
 background:url(images/usj1.jpg);
 background-size:cover;
 font-family: cursive;
}

#t31 {
 height:20%;
 width:100%;
 border:2px solid #0000ff;
 background-color:#ffffff;
}

#t4{
 width:360px;
 height:250px;
 font-size:18px;
 justify-content:center;
 align-items:top;
 display:flex;
 margin:2px;
 background:url(images/bg.jpg);
 background-size:cover;
 font-family: cursive;
}

#t41 {
 height:20%;
 width:100%;
 border:2px solid #00f0f0;
 background-color:#ffffff;
}

#t5{
 width:360px;
 height:250px;
 font-size:18px;
 justify-content:center;
 align-items:top;
 display:flex;
 margin:2px;
 background:url(images/lp.jpg);
 background-size:cover;
 font-family: cursive;
}


#t51 {
 height:20%;
 width:100%;
 border:2px solid #ff000f;
 background-color:#ffffff;
}
